@model EXP.Services.Models.EditVehicleModelModel
@{
    ViewBag.Title = "EditMakes";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>EditModel</h2>
@using (Html.BeginForm("CreateModel", "Admin", FormMethod.Post, new { @id = "EditModelForm" }))
{
    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model=>model.VehicleMakeID);
        <ul class="left">
            <li class="bBorder company_fields">
                <label><span id="title_span" class="blue">Make information</span></label>
            </li>
            <li class="odd">
                <label><b>Please select if make is active:</b></label>
                <label class="error" for="User_UserProfileTypeID" generated="true"></label>
                @Html.DropDownListFor(model => model.isActive, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "True" }, new SelectListItem { Text = "Not active", Value = "False" } })
            </li>
            <li class="even tborder company_fields">
                <label>Name:</label>
                @Html.EditorFor(model => model.VehicleModel1)
            </li>
            <li class="odd comments">
                <label>Description</label>
                @Html.TextAreaFor(model => model.VehicleModelDescription, new { @class="comments" })
            </li>
            <li class="even tborder company_fields">
                <label>Year:</label>
                @Html.EditorFor(model => model.Year1)
            </li>
       </ul>
        <br />
        <br />    
        <div class="save">
                <input type="submit" value="Save" name="save" class="btn btn-primary" />
            </div>
    </fieldset>
}