@model EXP.Services.Models.EditKeyCardModel
@{
    ViewBag.Title = "Edit Key Card";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Edit Key Card</h2>
@using (Html.BeginForm("EditKeyCard", "Admin", FormMethod.Post, new { @id = "EditKeyCardForm" }))
{
    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.KeyCardID)
        @Html.HiddenFor(model => model.LotID)
        <ul class="left">
            <li class="bBorder company_fields">
                <label><span id="title_span" class="blue">Key Card information</span></label>
            </li>
            <li class="odd" style="height: auto; padding-bottom: 20px">
                <label><b>Please select if key card is active</b></label>
                <label class="error" for="User_UserProfileTypeID" generated="true"></label>
                @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "True" }, new SelectListItem { Text = "Not active", Value = "False" } })
            </li>
            <li class="even tborder company_fields">
                <label>Key Card Name:</label>
                @Html.EditorFor(model => model.KeyCardName)
            </li>
            <li class="odd comments" style="height:30px">
                <label>Rate</label>
                @Html.EditorFor(model => model.Rate)
            </li>
        </ul>
        <br />
        <br />
        <div class="save">
            <input type="submit" value="Save" name="save" class="btn btn-primary" />
        </div>
    </fieldset>
}